<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let book of favourites">
    <ion-card>
      <img [src]="book.image"/>
      <ion-card-content>
        <ion-card-title>
          {{book.title}}
        </ion-card-title>
        <p>
          {{book.subtitle}}
        </p>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <ion-button (click)="removeFavourites(book.isbn13)">
            <ion-icon name="heart"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col align-self-center text-center>
          <ion-button [disabled]="true">
            <ion-note style="color:white">
              {{book.price}}
            </ion-note>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button>
            <a href="{{book.url}}" target="_blank" style="color: black">Buy</a>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ng-container>
</ion-content>
